<br><br><br><br>
<!DOCTYPE html>
<html>
    <head>
        <title>Modification des commentaires</title>
    </head>
    <body>
<!-- affichage modif -->
    <%= form_tag url_for(action: 'update'), method: "put" do%>           
    <%= text_area_tag 'content' , @comment.content%><br/><br/>            
         <%=submit_tag "save"%>
    <%end%></br>
<!-- affichage erreur -->
    <% if @comment.errors.any? %>
       <p>Nous n'avons pas réussi à modifié le commentaire pour la (ou les) raison(s) suivante(s) :</p>
       <ul>
        <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    <% end %>
        </p>
    </body>
</html>